<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/css/main.css"/>
  </head>
  <body class="bg-chatblack-50 text-white">
    <div class="flex h-[100vh]">

        <div class="left bg-black w-2/12 text-3xl  flex justify-center ">
            <b class="mt-5 border-2 p-2 h-fit rounded-lg">My ChatGPT</b>
        </div>

        <div class="right flex flex-col mt-20 justify-center  items-center  w-10/12">

           <h1 class="text-4xl font-bold  text-white pb-10 ">ChatGPT</h1>

           <div class="itemsrow flex space-x-7">

                   <div class="examples flex flex-col justify-center items-center py-4 ">
                    <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                     <div>Examples</div> 
                   </div>

                   <div class="examples flex flex-col justify-center items-center py-4 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path></svg>
                     <div>Capabilities</div> 
                   </div>

                   <div class="examples flex flex-col justify-center items-center py-4 ">
                    <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                     <div>Limitations</div> 
                   </div>

                 
           </div>
       

           <div class="w-full text-center flex space-x-10 justify-center items-center p-3 ">

            <input id="question" type="text" class="py-2 w-[70%] bg-gray-600 p-3 text-xl">
        
  

            <button id="btn" class="border font-bold border-3 px-3 py-1 text-xl w-[7%]  rounded-sm hover:bg-red-500">Enter</button>

     
            </div>

            <div  id="solution" class="p-3 -ml-[15.95vh] w-[69%] mt-5  overflow-hidden   bg-gray-600  text-xl border-2 border-gray-600">
              
              

            </div>

              
        
            </div>
        
          </div>
          
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
